// colors
$info: #909399;
$info-hover: #a6a9ad;
$info-active: #82848a;
.info-text {
  color: #909399;
}
$danger: #f56c6c;
$danger-hover: #f78989;
$danger-active: #dd6161;
.danger-text {
  color: #f56c6c;
}
$primary: #409eff;
$primary-hover: #66b1ff;
$primary-active: #3a8ee6;
.primary-text {
  color: #409eff;
}
$warning: #e6a23c;
$warning-hover: #ebb563;
$warning-active: #cf9236;
.warning-text {
  color: #e6a23c;
}
$success: #67c23a;
$success-hover: #85ce61;
$success-active: #5daf34;
.success-text {
  color: $success;
}
$hover: #f5f7fa;

// text colors
$text-primary: #303133;
$text-regular: #606266;
$text-secondary: #909399;
$text-placeholder: #c0c4cc;

// border colors
$border-base: #dcdfe6;
$border-base-light: #e4e7ed;
$border-base-lighter: #ebeef5;
$border-base-extra-light: #f2f6fc;

.cade {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cade-header {
  height: 45px;
  box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 99;
  padding-left: 12px;
}
.cade-header-btn-group {
  position: relative;
  float: left;
  margin-top: 4px;
  padding: 0 10px;
  &:after {
    content: '';
    position: absolute;
    top: 25%;
    right: 0;
    width: 1px;
    height: 50%;
    background-color: $border-base-light;
  }
  &:nth-last-of-type(1) {
    &:after {
      content: '';
      display: none;
    }
  }
  .cade-header-btn:nth-last-of-type(1) {
    margin-right: 0;
  }
}
.cade-header-btn {
  float: left;
  margin-right: 15px;
  padding: 5px 7px;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    border: 1px solid $border-base-light;
  }
}
.cade-body {
  position: relative;
  height: 100%;
  z-index: 50;
}
.cade-element-list {
  width: 200px;
  height: 100%;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  padding: 15px;
}
.cade-element-item {
  margin-bottom: 10px;
  cursor: move;
  user-select: none;
  background: transparent;
  text-align: center;
}
.cade-blockElement {
  //display: inline-block;
  //font-size: 14px;
  //text-align: center;
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  //overflow: hidden;
}
.cade-rect {
  //width: 100%;
  //height: 40px;
  //line-height: 40px;
  //border-radius: 4px;
  //border: 1px solid $primary;
  //background-color: #e7f7ff;
}
.cade-circle {
  //width: 60px;
  //height: 60px;
  //line-height: 60px;
  //border-radius: 50%;
  //border: 1px solid $danger;
  //background-color: #f5dcdd;
}

#cade-content {
  float: left;
  height: 100%;
  width: 100%;
}
#cade-canvas {
}
#cade-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transition: width 0.3s;
  box-shadow: -5px 0 15px -3px rgba(0, 0, 0, 0.15);
  &.active {
    width: 300px;
  }
}
